{
  "openapi": "3.0.0",
  "info": {
    "title": "BBL Plan-Check Area Management API",
    "version": "1.0.0",
    "description": "REST API for the automated validation of DWG/DXF floor plans according to the BBL area management guidelines. Supports single-file and batch processing with asynchronous job management as well as export to PDF, Excel, GeoJSON, and BCF.",
    "contact": {
      "name": "BBL DRES – Directorate of Resources",
      "url": "https://www.bbl.admin.ch/de/kontakt"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.pruefplattform.admin.ch/v1",
      "description": "Production"
    },
    {
      "url": "https://api-staging.pruefplattform.admin.ch/v1",
      "description": "Staging"
    }
  ],
  "tags": [
    { "name": "System", "description": "Health check and API information" },
    { "name": "Rules", "description": "Validation rules and their documentation" },
    { "name": "Validation", "description": "Single-file validation (asynchronous)" },
    { "name": "Export", "description": "PDF, Excel, GeoJSON, and BCF export" },
    { "name": "Batch", "description": "Multi-file processing" }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": ["System"],
        "summary": "Health check",
        "description": "Returns the current status of the API. Useful for monitoring and load balancers.",
        "operationId": "getHealth",
        "responses": {
          "200": {
            "description": "API is operational",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "ok" },
                    "version": { "type": "string", "example": "1.0.0" },
                    "uptime": { "type": "number", "example": 86400, "description": "Uptime in seconds" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/info": {
      "get": {
        "tags": ["System"],
        "summary": "API information",
        "description": "Returns version information, supported file formats, and API limits.",
        "operationId": "getInfo",
        "responses": {
          "200": {
            "description": "API metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": { "type": "string", "example": "1.0.0" },
                    "supportedFormats": {
                      "type": "array",
                      "items": { "type": "string" },
                      "example": [".dwg", ".dxf"]
                    },
                    "maxFileSize": { "type": "string", "example": "50MB" },
                    "maxBatchSize": { "type": "integer", "example": 20 },
                    "exportFormats": {
                      "type": "array",
                      "items": { "type": "string" },
                      "example": ["pdf", "excel", "geojson", "bcf"]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rules": {
      "get": {
        "tags": ["Rules"],
        "summary": "All validation rules",
        "description": "Returns the list of all active validation rules with code, description, and severity.",
        "operationId": "getRules",
        "responses": {
          "200": {
            "description": "List of validation rules",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rules": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Rule" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rules/{code}": {
      "get": {
        "tags": ["Rules"],
        "summary": "Single rule",
        "description": "Returns the details of a specific validation rule.",
        "operationId": "getRuleByCode",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "example": "ROOM_NO_LABEL",
            "description": "Unique rule code"
          }
        ],
        "responses": {
          "200": {
            "description": "Rule details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Rule" }
              }
            }
          },
          "404": {
            "description": "Rule not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/validate": {
      "post": {
        "tags": ["Validation"],
        "summary": "Validate file",
        "description": "Uploads a DWG or DXF file and starts asynchronous validation. Returns a job ID that can be used to query the status.",
        "operationId": "createValidation",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["file"],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "DWG or DXF file (max. 50 MB)"
                  },
                  "roomLayer": {
                    "type": "string",
                    "description": "Optional layer name for rooms (default: A1Z21---E-)",
                    "example": "A1Z21---E-"
                  },
                  "rules": {
                    "type": "array",
                    "items": { "type": "string" },
                    "description": "Optional restriction to specific rules (default: all)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Validation started",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobId": { "type": "string", "format": "uuid", "example": "a3b1c2d4-e5f6-7890-abcd-ef1234567890" },
                    "status": { "type": "string", "example": "queued" },
                    "createdAt": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid file or parameters",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "413": {
            "description": "File too large",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/jobs/{jobId}": {
      "get": {
        "tags": ["Validation"],
        "summary": "Query job status",
        "description": "Returns the current status of a validation job. Possible statuses: `queued`, `processing`, `done`, `failed`.",
        "operationId": "getJob",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" },
            "description": "Job ID from the validation request"
          }
        ],
        "responses": {
          "200": {
            "description": "Job status",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Job" }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/jobs/{jobId}/result": {
      "get": {
        "tags": ["Validation"],
        "summary": "Validation result",
        "description": "Returns the complete validation result, including detected rooms, errors, areas, and KPIs. Only available when job status is `done`.",
        "operationId": "getJobResult",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Validation result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ValidationResult" }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "409": {
            "description": "Job not yet completed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/jobs/{jobId}/export": {
      "post": {
        "tags": ["Export"],
        "summary": "Create export",
        "description": "Creates an export from a completed validation job. Supported formats: `pdf` (validation report), `excel` (room list), `geojson` (floor plan geometries), `bcf` (BIM Collaboration Format for errors).",
        "operationId": "createExport",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["format"],
                "properties": {
                  "format": {
                    "type": "string",
                    "enum": ["pdf", "excel", "geojson", "bcf"],
                    "description": "Desired export format"
                  },
                  "language": {
                    "type": "string",
                    "enum": ["de", "fr", "it", "en"],
                    "default": "de",
                    "description": "Report language"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Export started",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exportId": { "type": "string", "format": "uuid", "example": "f1e2d3c4-b5a6-7890-fedc-ba0987654321" },
                    "format": { "type": "string", "example": "pdf" },
                    "status": { "type": "string", "example": "generating" },
                    "createdAt": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid format",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "409": {
            "description": "Job not yet completed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/exports/{exportId}": {
      "get": {
        "tags": ["Export"],
        "summary": "Export status",
        "description": "Returns the status of an in-progress or completed export.",
        "operationId": "getExport",
        "parameters": [
          {
            "name": "exportId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Export status",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Export" }
              }
            }
          },
          "404": {
            "description": "Export not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/exports/{exportId}/download": {
      "get": {
        "tags": ["Export"],
        "summary": "Download export",
        "description": "Downloads the generated export file. Only available when export status is `ready`. The download link is valid for 24 hours.",
        "operationId": "downloadExport",
        "parameters": [
          {
            "name": "exportId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Export file",
            "content": {
              "application/pdf": { "schema": { "type": "string", "format": "binary" } },
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": { "schema": { "type": "string", "format": "binary" } },
              "application/geo+json": { "schema": { "type": "string", "format": "binary" } },
              "application/octet-stream": { "schema": { "type": "string", "format": "binary" } }
            }
          },
          "404": {
            "description": "Export not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          },
          "409": {
            "description": "Export not yet ready",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/batch": {
      "post": {
        "tags": ["Batch"],
        "summary": "Start batch validation",
        "description": "Uploads multiple DWG/DXF files and starts parallel validation. Maximum 20 files per batch.",
        "operationId": "createBatch",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["files"],
                "properties": {
                  "files": {
                    "type": "array",
                    "items": { "type": "string", "format": "binary" },
                    "description": "DWG/DXF files (max. 20, each max. 50 MB)"
                  },
                  "roomLayer": {
                    "type": "string",
                    "description": "Optional layer name for rooms",
                    "example": "A1Z21---E-"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Batch started",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "batchId": { "type": "string", "format": "uuid", "example": "b1a2c3d4-e5f6-7890-abcd-ef1234567890" },
                    "fileCount": { "type": "integer", "example": 5 },
                    "status": { "type": "string", "example": "processing" },
                    "jobs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "jobId": { "type": "string", "format": "uuid" },
                          "filename": { "type": "string", "example": "GF_FloorPlan.dwg" },
                          "status": { "type": "string", "example": "queued" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid files or too many files",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/batch/{batchId}": {
      "get": {
        "tags": ["Batch"],
        "summary": "Batch status",
        "description": "Returns the status of a batch job, including progress of individual files.",
        "operationId": "getBatch",
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch status",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BatchJob" }
              }
            }
          },
          "404": {
            "description": "Batch not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/batch/{batchId}/summary": {
      "get": {
        "tags": ["Batch"],
        "summary": "Batch summary",
        "description": "Returns an aggregated summary of all validation results for a batch. Only available when all jobs are completed.",
        "operationId": "getBatchSummary",
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregated results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "batchId": { "type": "string", "format": "uuid" },
                    "totalFiles": { "type": "integer", "example": 5 },
                    "passed": { "type": "integer", "example": 3 },
                    "failed": { "type": "integer", "example": 2 },
                    "totalRooms": { "type": "integer", "example": 142 },
                    "totalErrors": { "type": "integer", "example": 7 },
                    "averageScore": { "type": "number", "example": 87.5 },
                    "completedAt": { "type": "string", "format": "date-time" },
                    "files": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "jobId": { "type": "string", "format": "uuid" },
                          "filename": { "type": "string" },
                          "score": { "type": "number" },
                          "rooms": { "type": "integer" },
                          "errors": { "type": "integer" },
                          "status": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Batch not yet completed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Job": {
        "type": "object",
        "properties": {
          "jobId": { "type": "string", "format": "uuid" },
          "status": { "type": "string", "enum": ["queued", "processing", "done", "failed"] },
          "filename": { "type": "string", "example": "GF_FloorPlan.dwg" },
          "progress": { "type": "number", "minimum": 0, "maximum": 100, "example": 75 },
          "createdAt": { "type": "string", "format": "date-time" },
          "completedAt": { "type": "string", "format": "date-time", "nullable": true },
          "error": { "type": "string", "nullable": true, "description": "Error message when status is 'failed'" }
        }
      },
      "ValidationResult": {
        "type": "object",
        "properties": {
          "jobId": { "type": "string", "format": "uuid" },
          "filename": { "type": "string" },
          "score": { "type": "number", "minimum": 0, "maximum": 100, "example": 92.5 },
          "rooms": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Room" }
          },
          "errors": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ValidationError" }
          },
          "metrics": {
            "type": "object",
            "properties": {
              "totalRooms": { "type": "integer" },
              "totalArea": { "type": "number", "description": "Total area in m²" },
              "errorCount": { "type": "integer" },
              "warningCount": { "type": "integer" }
            }
          },
          "fileInfo": {
            "type": "object",
            "properties": {
              "version": { "type": "string", "example": "R2018" },
              "layers": { "type": "integer" },
              "entities": { "type": "integer" },
              "fileSize": { "type": "string", "example": "2.4 MB" }
            }
          }
        }
      },
      "Room": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string", "example": "Office 201" },
          "layer": { "type": "string", "example": "A1Z21---E-" },
          "area": { "type": "number", "description": "Area in m²", "example": 24.5 },
          "perimeter": { "type": "number", "description": "Perimeter in m", "example": 20.8 },
          "status": { "type": "string", "enum": ["ok", "warning", "error"] },
          "polygon": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "x": { "type": "number" },
                "y": { "type": "number" }
              }
            }
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "example": "ROOM_NO_LABEL" },
          "severity": { "type": "string", "enum": ["error", "warning"] },
          "message": { "type": "string", "example": "Room has no label attribute" },
          "layer": { "type": "string", "nullable": true },
          "roomId": { "type": "string", "nullable": true },
          "location": {
            "type": "object",
            "nullable": true,
            "properties": {
              "x": { "type": "number" },
              "y": { "type": "number" }
            }
          }
        }
      },
      "Export": {
        "type": "object",
        "properties": {
          "exportId": { "type": "string", "format": "uuid" },
          "jobId": { "type": "string", "format": "uuid" },
          "format": { "type": "string", "enum": ["pdf", "excel", "geojson", "bcf"] },
          "status": { "type": "string", "enum": ["generating", "ready", "failed"] },
          "createdAt": { "type": "string", "format": "date-time" },
          "readyAt": { "type": "string", "format": "date-time", "nullable": true },
          "expiresAt": { "type": "string", "format": "date-time", "nullable": true, "description": "Download available until (24h)" },
          "downloadUrl": { "type": "string", "nullable": true }
        }
      },
      "BatchJob": {
        "type": "object",
        "properties": {
          "batchId": { "type": "string", "format": "uuid" },
          "status": { "type": "string", "enum": ["processing", "done", "partial_failure"] },
          "fileCount": { "type": "integer" },
          "completedCount": { "type": "integer" },
          "createdAt": { "type": "string", "format": "date-time" },
          "jobs": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "jobId": { "type": "string", "format": "uuid" },
                "filename": { "type": "string" },
                "status": { "type": "string" },
                "progress": { "type": "number" }
              }
            }
          }
        }
      },
      "Rule": {
        "type": "object",
        "properties": {
          "code": { "type": "string", "example": "ROOM_NO_LABEL" },
          "severity": { "type": "string", "enum": ["error", "warning"] },
          "category": { "type": "string", "example": "Rooms" },
          "title": { "type": "string", "example": "Missing room label" },
          "description": { "type": "string", "example": "Every closed room must contain a TEXT or MTEXT attribute with a room designation." },
          "reference": { "type": "string", "nullable": true, "example": "BBL FM Guideline §4.2" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string", "example": "not_found" },
          "message": { "type": "string", "example": "The requested resource was not found." }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for authentication. Request via the BBL portal."
      }
    }
  },
  "security": [
    { "apiKey": [] }
  ]
}
